<!DOCTYPE html>
<html>
  <head>
    <title>Error!</title>
    <%- include('../layout/styles') %>
  </head>
  <body>
    <header>
      <h1>Error!</h1>
      <%- include('../layout/nav') %>
    </header>
    <%= error %>
    <%- include('../layout/footer') %>
  </body>
</html>