<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="./styles/base.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Welcome Home, <%= user.username %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/list">Product List</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </nav>
    <script src="./scripts/app.js"></script>
  </body>
</html>
