<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="./styles/base.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Welcome Home, <%= user.username %></h1>
    <script src="./scripts/app.js"></script>
  </body>
</html>
