@import "reset.css";
 
* {
  box-sizing: border-box;
}
 
img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
 
h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
  font-weight: bold;
}
 
main {
  background-color: #eee;
  padding: 1em;
  position: relative;
}
 
#photo-gallery {
  background: #aaa;
  margin: 0 auto;
  max-width: 928px;

  /* Flexbox code for the parent */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:;
  justify-content:;
}
 
.person {
  width: 200px;
  padding: 1em;
  margin: 1em;
  background-color: white;

  /* Flexbox code for the child */

}
 
.person h3 {
  text-align: center;
  margin: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}
 
.person p {
  text-align: center;
  margin: 0.25em;
}
 
/* .person-template {
  display: none;
} */

.spinner {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
 
.fa {
  margin-right: 0.5em;
}

#filter-sort-search {
  padding-bottom: 1em;

  /* Add Flexbox to parent */
  display: flex;
  justify-content: space-evenly;
}

.person {
  order: 2;
}

.premium-user {
  order: 1;
}

.premium-user h3:after {
  
}